In [1]:
import pandas as pd

In [2]:
# Carregar pra memória do computador os dados da Covid da Univ. Johns Hopkins 
covid_mundo = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [3]:
# Visualizar o cabeçalho do Dataset
covid_mundo.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/16/20,10/17/20,10/18/20,10/19/20,10/20/20,10/21/20,10/22/20,10/23/20,10/24/20,10/25/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,40073,40141,40200,40287,40357,40510,40626,40687,40768,40833
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,16501,16774,17055,17350,17651,17948,18250,18556,18858,19157
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,53998,54203,54402,54616,54829,55081,55357,55630,55880,56143
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,3377,3377,3377,3623,3623,3811,3811,4038,4038,4038
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,7222,7462,7622,7829,8049,8338,8582,8829,9026,9381

In [4]:
# Verifica a dimensão do DataSet
covid_mundo.shape

(267, 282)